body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.music-player {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin-bottom: 20px;
}


.album-art {
    margin-bottom: 20px;
}

.album-art img {
    width: 100%;
    border-radius: 10px;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.controls button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 90px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease, transform 0.2s ease;
}

.controls button:hover {
    background: #0056b3;
    transform: scale(1.1);
}

.controls button:active {
    transform: scale(0.9);
}

.controls button i {
    pointer-events: none;
}

.music-info {
    margin-top: 20px;
}

#title, #artist {
    display: block;
    margin: 5px 0;
    font-size: 18px;
}

#title {
    font-weight: bold;
}

.songlist-container {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 450px;
    max-height: 400px;
    overflow-y: auto;
}

.songlist-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 10px;
}

.songlist-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background 0.3s ease;
}

.songlist-item:hover {
    background: #f0f0f0;
}

@media(min-width: 768px) {
    .container {
        flex-direction: row;
    }
    .songlist-container {
        width: 450px;
        max-height: none;
    }
    .music-player {
        margin-right: 20px;
        margin-bottom: 0;
    }
}

@media(max-width: 767px) {
    body{
        height: 100%;
    }
    .music-player{
        width: 450px;
    }
}
