@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Montserrat:wght@500&family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #1a1a1a, #2d2d2d);
}
h2 {
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 20px;
}
.calculator {
  border: 1px solid #333333;
  padding: 20px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}
input {
  width: 340px;
  border: none;
  padding: 24px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  text-align: right;
  color: #ffffff;
}
input::placeholder {
  color: #ffffff;
}
button {
  border: none;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(165, 165, 165);
}
.btn:hover {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
}
.operator {
  color: #1a1a1a;
  background-color: gray;
}
.operator:hover {
    box-shadow: 0px 0px 10px rgba(140, 140, 140, 0.7);
}
.equalBTN, .opr {
  background-color: orange;
  color: #ffffff;
}

.equalBTN:hover {
  box-shadow: 0px 0px 10px rgba(77, 77, 77, 0.7);
}
.zeroBTN{
  width: 150px;
  text-align: left;
  padding: 22px;
  border-radius: 30px;
  background-color: rgb(165, 165, 165);
}