body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.container h1 {
    color: white;
}
section {
    background: #fff;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1, h2 {
    color: #333;
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
.image-card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    width: calc(33.333% - 16px);
    margin: 8px 0;
    transition: transform 0.3s ease;
}
.image-card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.image-card:hover {
    transform: scale(1.05);
}
.image-card:hover img {
    transform: scale(1.1);
}
.image-card h6 {
    margin: 0;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 992px) {
    .image-card {
        width: calc(50% - 16px);
    }
}
@media (max-width: 600px) {
    .image-card {
        width: 100%;
    }
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
